<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h2>Estructuras de control [ngSwitch]</h2>
<input type="text" [(ngModel)]="person.name" required/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'pedrito'">My nombre es: pedrito</p>
  <p *ngSwitchCase="'paco'">My nombre es: paco y ya alcanzo el timbre</p>
  <p *ngSwitchDefault>No hace match con nada</p>
</div>

<br>
<hr>

<h2>Estructuras de control [ngFor Objs]</h2>
<div>
  <div *ngFor="let product of products">
    <img width="250px" [src]="product.image" alt="image">
    <p>Price: {{product.price}}</p>
    <p>Price: {{product.name}}</p>
  </div>
</div>

<br>
<hr>

<h2>Estructuras de control [ngFor]</h2>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">Empty</li>
  <li *ngFor="let name of names; index as i">
    {{name}} position: {{i}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<br>
<hr>

<h2>Estructuras de control [ngIf]</h2>
<input type="text" [(ngModel)]="person.name" required/>
<p *ngIf="person.name === 'pedrito'">My nombre es: pedrito</p>
<p *ngIf="person.name === 'paco' && person.age > 18; else elseBlock">My nombre es: paco y ya alcanzo el timbre</p>

<ng-template #elseBlock>
  <p>
    <strong>Bloque de else</strong>
  </p>
</ng-template>

<br>
<hr>

<h2>NgModel</h2>
<p>Nombre {{person.name}}</p>

<p>String validation</p>
<input type="text" [(ngModel)]="person.name" #nameInput='ngModel' required/>
<p>Valid: {{nameInput.valid}}</p>


<p>Number validation</p>
<input type="number" max="18" min="10" [(ngModel)]="person.age" #ageInput='ngModel' required/>
<p>Valid: {{ageInput.valid}}</p>


<br>
<hr>

<h2>Eventos</h2>
<button [disabled]="buttonDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<button (click)="increaseAge()">Age + 1</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    {{'Lorem ipsum dolor sit amet'.repeat(100)}}
  </p>
</div>
<p>Edad: {{person.age}}</p>
<br>
<input type="text" name="name" id="name2" [value]="person.name" (keyup)="onKeyup($event)">

<br>
<hr>

<h2>Property binding</h2>
<input type="text" name="name" id="name" [value]="person.name">
<button [disabled]="buttonDisabled">Enviar</button>
<br>
<progress [max]="max" [value]="person.age"></progress>
<img src={{image}} alt='image' [width]="person.age">

<br>
<hr>

<h2>Hoal mundo string interpolation</h2>
<h2>{{'Hola mundo ' + name}}</h2>
<p>Mi edad es: {{age}}</p>
<img src={{image}} alt='image' width="300px">

</body>
</html>
