<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h2>Eventos</h2>
<button [disabled]="buttonDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<button (click)="increaseAge()">Age + 1</button>

<p>Edad: {{person.age}}</p>

<hr>
<hr>

<h2>Property binding</h2>
<input type="text" name="name" id="name" [value]="person.name">
<button [disabled]="buttonDisabled">Enviar</button>
<br>
<progress [max]="max" [value]="person.age"></progress>
<img src={{image}} alt='image' [width]="person.age">

<hr>
<hr>

<h2>Hoal mundo string interpolation</h2>

<h2>{{'Hola mundo ' + name}}</h2>
<p>Mi edad es: {{age}}</p>
<img src={{image}} alt='image' width="300px">

</body>
</html>
